

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="primary">
            <p>
              <span style="text-decoration: underline;"><strong>Office hours:</strong></span>
              </br>Monday - Thursday: 8:30am to 3:30pm
              </br>Friday: 8:30am to 12:00pm
            </p>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-2 ml-auto text-center">
            <a href="tel:+16264477690">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>626-447-7690</p>
            </a>
          </div>
          
          <div class="col-lg-2 mr-auto text-center">
            <a href="http://oslcarcadia@aol.com">
              <i class="fa fa-envelope-o fa-3x sr-contact"></i>
              <p>oslcarcadia@aol.com</p>
            </a>
          </div>

          <div class="col-lg-2 mr-auto text-center">
            <a href="http://oslcarcadia@aol.com">
              <i class="fa fa-car fa-3x sr-contact"></i>
              <p>Directions</p>
            </a>
          </div>

          <div class="col-lg-2 mr-auto text-center">
            <a href="http://oslcarcadia@aol.com">
              <i class="fa fa-institution fa-3x sr-contact"></i>
              <p>Giving</p>
            </a>
          </div>

          <div class="col-lg-2 mr-auto text-center">
            <a href="http://oslcarcadia@aol.com">
              <i class="fa fa-user-o fa-3x sr-contact"></i>
              <p>Staff</p>
            </a>
          </div>

        </div>
      </div>
    </section>